<div id="registerForm">

    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" [formControl]="userName" (change)="onUserNameChange()" #userNameInputRef autofocus />
        <mat-error *ngIf="userName.invalid">Must provide a user name!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="password" (change)="onPasswordChange()" #passwordInputRef />
        <mat-error *ngIf="password.invalid">Must provide a password!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password again</mat-label>
        <input matInput type="password" [formControl]="passwordAgain" (change)="onPasswordAgainChange()" #passwordAgainInputRef />
        <mat-error *ngIf="passwordAgain.invalid">Passwords must match!</mat-error>
    </mat-form-field>
    <div>
        <button mat-raised-button (click)="onSubmitRegistration()" [disabled]="password.invalid || passwordAgain.invalid" #submitRegistrationRef>Submit Registration</button>
        <button mat-raised-button><a routerLink="/login">Login with user</a></button>
    </div>

</div>