
.movieCard {
    display: inline-block;
    margin: 5px 5px 5px 5px;
    width: 300px;
    height: 300px;
    vertical-align: top;
}

.movieCardTitle {
    height: 28px;
    overflow: hidden;
}

.movieCardImage {
    max-height: calc(100% - 70px);
    object-fit: scale-down;
}

.movieCardActions {
    position: absolute;
    bottom: 10px;
    left: 10px;
}