<mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput type="text" [(ngModel)]="userName" (change)="onUserNameChange()" #userNameInputRef autofocus />
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password" (change)="onPasswordChange()" #passwordInputRef />
</mat-form-field>
<button mat-raised-button (click)="onSubmitLogin()" #submitLoginRef>Login</button>
<div *ngIf="wrongCredentials">
    Wrong user name and/or password!
</div>
