<div id="loginForm">

    <button mat-raised-button><a routerLink="/register" tabindex="-1">Register new user</a></button>
    
    <mat-form-field appearance="outline" class="loginFormField">
        <mat-label>Username</mat-label>
        <input matInput type="text" [formControl]="userName" (change)="onUserNameChange()" #userNameInputRef autofocus />
        <mat-error *ngIf="userName.hasError('required')">Must provide a user name!</mat-error>
        <mat-error *ngIf="userName.hasError('minlength')">User name must be at least 3 characters long!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="loginFormField">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="password" (change)="onPasswordChange()" #passwordInputRef />
        <mat-error *ngIf="password.hasError('required')">Must provide a password!</mat-error>
        <mat-error *ngIf="password.hasError('minlength')">Password must be at least 3 characters long!</mat-error>
    </mat-form-field>

    <div id="wrongCredentials">
        <ng-container *ngIf="wrongCredentials">
            Wrong user name and/or password!
        </ng-container>
    </div>

    <div>
        <button mat-raised-button [disabled]="userName.invalid || password.invalid" (click)="onSubmitLogin()" #submitLoginRef>Login</button>
    </div>

</div>
