#loginForm {
    position: relative;
    top: 100px;
    width: 300px;
    left: calc(50% - 150px);
}

.loginFormField {
    margin-bottom: 20px;
}

#wrongCredentials {
    position: relative;
    height: 20px;
}