<div id="movies">

  <div id="moviesList">
    
    <app-movie-card *ngFor="let movie of moviesList" [movie]="movie"></app-movie-card>
    
    <div id="pageBottom"
      appObserveVisibility
      [debounceTime]="300"
      [threshold]="1"
      (visible)="onPageBottomVisible()"
      #pageBottom>
      <ng-container *ngIf="(!lastLoadedPage || lastLoadedPage < totalPages) else noMorePages">
        Load more
      </ng-container>
      <ng-template #noMorePages>
        End of pages
      </ng-template>  
    </div>
  
  </div>

</div>