<mat-card *ngFor="let movie of moviesList" class="movieCard">

  <mat-card-title class="movieCardTitle">
    {{movie.title}}
  </mat-card-title>
  <mat-card-subtitle>
    {{movie.release_date}}
  </mat-card-subtitle>
  
  <img mat-card-image class="movieCardImage" [src]="movie.imageURI" />

  <mat-card-action>
    <button mat-button>Részletek</button>
  </mat-card-action>
</mat-card>

<div id="pageBottom"
  appObserveVisibility
  [debounceTime]="300"
  [threshold]="1"
  (visible)="onPageBottomVisible()"
  #pageBottom>
  <ng-container *ngIf="(!lastLoadedPage || lastLoadedPage < totalPages) else noMorePages">
    Load more
  </ng-container>
  <ng-template #noMorePages>
    End of pages
  </ng-template>  
</div>